@media screen and (max-width: 1400px) {
    .section__deco:not(.header__deco) {
        display: none;
    }

    .header {
        padding: 30px 12px;
    }

    .home__img-wrapper {
        max-width: 600px;
        transform: translateY(-6%);
    }

    .home__profile {
        height: auto;
    }

    .home__date {
        transform: scale(0.9);
    }

    .jojo__1 {
        width: 203px;
        height: 203px;
    }

    .jojo__2, .jojo__3 {
        width: 126px;
        height: 126px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
